.left-side-wrapper {
    background: url(https://thewallpaper.co//wp-content/uploads/2017/10preview/sunset-beach-bright-backgrounds-orange-colourful-clouds-sky-night-stock-images-rocks-bay-tablet-view-lilac.jpg) no-repeat !important;
    background-size: cover !important;
}
#user-rollover
{
    background-color: rgba(30, 33, 39, 0.7) !important;
}
#user-rollover .info
{
    background-color: rgba(30, 33, 39, 0.4) !important;
}
