.left-side-wrapper {
    background: url(https://images.wallpaperscraft.com/image/trees_nature_night_planet_birds_landscape_20199_1920x1440.jpg) no-repeat !important;
    background-size: cover !important;
}
#user-rollover
{
    background-color: rgba(30, 33, 39, 0.7) !important;
}
#user-rollover .info
{
    background-color: rgba(30, 33, 39, 0.4) !important;
}
.community__bottom
{
    background: linear-gradient(0deg, rgba(121,9,51,1) 0%, rgba(2,0,36,1) 100%) !important;
}
.community__playlist--desktop
{
    background: inherit;
}
.bottom__playback-meta
{
    background: inherit;
}
.bottom__playback-controls
{
    background: inherit;
}
.room-controls--desktop.room-vote--desktop
{
    border: 2px solid purple;
    background-color: rgba(0,0,0,.5);
}
.room-controls--desktop-btn
{
    color: purple;
    transition-duration: .3s;
}
.room-controls--desktop-btn:hover
{
    color: #7f17b0;
}
