.left-side-wrapper {
    background: url(https://images.wallpaperscraft.com/image/trees_nature_night_planet_birds_landscape_20199_1920x1440.jpg) no-repeat !important;
    background-size: cover !important;
    width: 100% !important;
}
.left-side-wrapper-inner
{
    width: 80%;
}
#user-rollover
{
    background-color: rgba(30, 33, 39, 0.7) !important;
}
#user-rollover .info
{
    background-color: rgba(30, 33, 39, 0.4) !important;
}
.community__name,
.nav-left__item.selected,
.nav-left__item.selected i
{
    color:#b611c4 !important;
}
.nav-left__item.selected
{
    border-color:#b611c4;
}
.community__top
{
    background:none !important;
}
.community__left-nav
{
    background:none;
}
.community__bottom
{
    background: linear-gradient(0deg, rgba(121,9,51,1) 0%, rgba(2,0,36,1) 100%) !important;
}
.community__playlist--desktop
{
    background: inherit;
}
.bottom__playback-meta
{
    background: inherit;
}
.bottom__playback-controls
{
    background: inherit;
}
.room-controls--desktop.room-vote--desktop
{
    border: 2px solid purple;
    background-color: rgba(0,0,0,.5);
}
.room-controls--desktop-btn
{
    color: purple !important;
    transition-duration: .3s;
}
.room-controls--desktop-btn:hover
{
    color: #7f17b0 !important;
}

.community__right-bar
{
    /**background: url(https://cdn1.iconfinder.com/data/icons/nature-life-in-color/128/marijuana-c-512.png) !important;**/
    background-color: rgba(0,0,0, .7) !important;
    background-repeat: no-repeat !important;
    background-size: 50% !important;
    background-position: center !important;
}
.community .community__top-right
{
    right: 345px;
}
#chat-messages
{
    background-color: rgba(0,0,0, .6);
}
#chat-messages .from i
{
    background-size: 15px !important;
    background-repeat: no-repeat !important;
}
#chat-input:focus-within
{
    box-shadow: inset 0 0 0 1px #7a1079 !important;
}
/**
#user-rollover.role-host .username::after
{
    content: " [boss]";
    color: gold;
    font-size: .8em;
}
#user-rollover.role-cohost .username::after
{
    content: " [keule]";
    color: gold;
    font-size: .8em;
}
**/
